<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>下拉框</title>
    <link href="../static/dist/semantic.css" rel="stylesheet" />
    <script src="../static/dist/jquery.min.js"></script>
    <script src="../static/dist/semantic.js"></script>
</head>
<body style="padding:30px">
<div class="ui selection dropdown">
    <input type="hidden" name="gender" id="gender">
    <i class="dropdown icon"></i>
    <div class="default text">性别</div>
    <div class="menu">
        <div class="item" data-value="1">男性</div>
        <div class="item" data-value="0">女性</div>
    </div>
</div>
<button class="ui button" id="btn">提交</button>
</body>
<script>
    $(document).ready(function(){
        $('.ui.selection.dropdown').dropdown();
    });
</script>
</html>